---
styles:
  inline:
    - ./static/styles/inline.css
  sync:
    - /styles/sync.css
  async:
    - /styles/async.css
scripts:
  inline:
    - ./static/scripts/inline.js
  sync:
    - /scripts/sync.js
  async:
    - /scripts/async.js
---
<html class="default">
{{hopin_headAssets}}
{{{content}}}
{{hopin_bodyAssets}}
</html>