---
styles:
  inline:
    - ../styles/inline.css
  sync:
    - /styles/sync.css
  async:
    - /styles/async.css
scripts:
  inline:
    - ../scripts/inline.js
  sync:
    - /scripts/sync.js
  async:
    - /scripts/async.js
---
<html class="default">
{{hopin_headAssets}}
{{{data.content}}}
{{hopin_bodyAssets}}
</html>